/* ===============================
   AXIS Alumni – Bootstrap Theme
   =============================== */

:root {
    --bs-primary: #0d3b66;
    --bs-primary-rgb: 11, 44, 77;

    /*--axis-gold: #c9a24d;*/
    --axis-red: #be1818;
    --axis-light: #f5f7fa;
}

/* Navbar */
.navbar {
    background-color: var(--bs-primary);
    border-bottom: 2px solid var(--axis-red);
}

.navbar .nav-link,
.navbar-brand {
    color: black !important;
}

.navbar .nav-link:hover {
    color: var(--axis-red) !important;
}

/* Buttons */
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--axis-red);
    border-color: var(--axis-red);
    color: #000;
}

/* Headings */
h1, h2, h3 {
    color: #212529;
}

h5 {
    color: #212529;
}

/* Cards */
.card {
    border: none;
    border-radius: 1rem;
}

.card-title {
    font-weight: 600;
}

/* List group icons */
.list-group-item i {
    color: var(--bs-primary);
}

/* Footer */
footer {
    background-color: var(--bs-primary);
}

footer p {
    margin-bottom: 0.3rem;
}

/* Form focus */
.form-control:focus {
    border-color: var(--axis-light);
    box-shadow: 0 0 0 0.2rem rgba(244, 196, 48, 0.25);
}